@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{font-family:'맑은고딕','Malgun Gothic',-apple-system,BlinkMacSystemFont,"Seqoe UI",'Roboto',"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",'AppleGothic','Dotum',arial,sans-serif;}
body{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
html, body, div{margin:0; padding:0;}
html, body{position:relative;width:100%; height:100%; overflow:hidden;color:#3e4c5e;font-size:13px;}
a, a:hover{cursor:pointer;text-decoration:none;}

#spatial_map, #vworld_map{position:absolute;height: 100%;width: 100%;}
#spatial_map {z-index: 2;}
#vworld_map {z-index: 1;}

.ol-zoom{display: none;}
.ol-attribution{display: none;}
.vw-logo{display: none;}
.vw-notice{display: none;}
.ol-control{background-color:rgba(255,255,255,.0) !important;}
.ol-control:hover{background-color:rgba(255,255,255,.0) !important;}
.ol-control button{font-size:0 !important;background-color:rgb(255,255,255) !important; border-radius:50px !important; height:40px !important; width:40px !important; color:#000 !important;}
.ol-compass{font-size:0 !important;width:30px;height:30px;background-image: url(../PIC/compass.jpg);background-repeat: no-repeat;background-position: center center;}
